body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 1%;
    padding: 0;
    min-width: 450px;
}
.scrolling-box {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-right: 17px;
    box-sizing: content-box;
}
.resume-container {
    width: 98vw;
    margin: 30px;
}

.work-experience {
    width: 95%;
    max-width: 1200px; /* Maksimum genişlik */
    margin: 0 1px; /* Orta hizalama */
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;

}
h2{
    margin-top: 5%;
    min-width: 200px;
    width: 20%;
}
.positions {
    width: 95%;
    margin-top: 5%;
    display: grid;
    gap: 25px; /* Sütunlar arasında 30px boşluk */
    margin-left: 1%;
    grid-template-columns: 10%,0 ; 

}

.position {
    width: 70%;
    margin-top: 5%;
    display: grid;
    gap: 25px; /* Sütunlar arasında 25px boşluk */
    margin-left: 10%;
}

.position span {
    /* Tarihleri bold yap ve hizala */
    padding: 1px;
    font-weight: bold;
    grid-column: 1;
    grid-row: 1;
}
.position small {
    padding: 1px;
    font-weight: bold;
    grid-column: 1;
    grid-row: 2;
}


.position strong {
    /* Başlık için stil */
    padding: 1px;
    grid-column: 2;
    grid-row: 1;
    font-size: 1.2em;
}

.position p {
    /* Paragraf için stil */
    grid-column: 2;
    grid-row: 2;
    margin-top: 10px; /* Başlık ile arasında boşluk */
}
.skill-experience{
    width: 100%;
    max-width: 1200px; /* Maksimum genişlik */
    margin: 0 auto; /* Orta hizalama */
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.my-skills{
    width: 60%;
    margin-top: 65px;

}
.skills {

    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Her yetkinlik arası boşluk */
}
.skill {

    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Her yetkinlik arası boşluk */
    margin-left: 10%;
}

.skills strong {
    /* Başlık için stil */
    font-size: 1.2em;
    margin-top: 5px; /* Başlık ile arasında boşluk */
    color: #0847d6;
}

.skills p {
    /* Paragraf için stil */
    margin-top: 10px; /* Başlık ile arasında boşluk */
}
.back-button {
    position: sticky;
    top: 5px;
    color: white; /* Butonun yazı rengi */
    border: none; /* Kenarlık kaldırıldı */
    border-radius: 50%; /* Kenarları yuvarlaklaştır */
    cursor: pointer; /* İmleci pointer yap */
    font-size: 16px; /* Yazı boyutu */
    width: 50px;
    height: 50px;
    text-align: center;
    transition: background-color 0.5s ease; /* Geçiş özelliği */
}
.back-button:hover{
    background-color: black;
}
@media screen and (max-width: 690px) {
    /* Genel düzenlemeler */
    .skills strong, .skills p {
        font-size: 14px;
    }

    .positions {
        width: 70%;
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;

    
    }
    
    .position {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        align-items: start; /* İçeriklerin başlangıcından itibaren hizala */
        margin-bottom: 20px; /* Her position arası boşluk */
    }
    
    .position span {
        /* Tarihleri bold yap ve hizala */
        font-weight: bold;

    }
    
    .position strong {
        /* Başlık için stil */
        grid-column: 2;
        grid-row: 2;
        font-size: 1.2em;
    }
    
    .position p {
        /* Paragraf için stil */
        grid-column: 2;
        grid-row: 3;
        margin-top: 10px; /* Başlık ile arasında boşluk */
    }

    /* Yetkinlikler bölümü için düzenlemeler */
    .my-skills {
        width: 100%;
    }
}
