body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
}

.container {
    text-align: center;
    padding: 50px;
    margin-top:10%;
}

.profile {
    display: flex; /* flexbox kullanarak içerikleri yan yana alıyoruz */
    flex-wrap: wrap; /* ekran küçüldüğünde alt satıra geçmesini sağlıyoruz */
    align-items: center; /* içerikleri dikey olarak ortalar */
    justify-content: center; /* içerikleri yatay olarak ortalar */
}

.my-photo,
.my-text {
    flex: 1; /* flex öğelerinin esnekliğini belirler */
    min-width: 300px; /* minimum genişlik belirlenerek ekran küçüldüğünde alt alta düzen sağlanır */
}
.profile-picture {
    border-radius: 50%;
    width: 100%; /* genişlik yüzde olarak belirlendi */
    max-width: 300px; /* maksimum genişlik */
    max-height: 300px; /* maksimum genişlik */

    border: 6px solid #ddd;
    margin-bottom: 30px;
    aspect-ratio: 1 / 1; /* genişlik ve yükseklik oranını 1:1 yapar */
}

.intro-text {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.buttons .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px; /* This creates the rounded buttons */
}

.resume {
    background-color: #f0ad4e; /* Orange */
}

.projects {
    background-color: #d9534f; /* Red */
}

.contact {
    background-color: #5bc0de; /* Sky Blue */
}

/* Duyarlı tasarım için medya sorguları */
@media (max-width: 600px) {
    .profile {
        flex-direction: column; /* ekran genişliği 600px altına düştüğünde içerikleri sütun olarak diz */
    }
    
    .my-photo,
    .my-text {
        min-width: 100%; /* tüm genişliği kullan */
    }
    
    .container {
        margin-top: 10%; /* daha az üst boşluk bırak */
    }
}